body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/1.jfif);
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
}

.form h1 {
  margin: 30px 100px;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
}

.input-form {
  margin: 15px 40px;
  text-align: center;
}

.input-form input {
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  background: none;
  outline: none;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.input-form input[type="text"]:focus,
.input-form input[type="password"]:focus {
  border: 1px solid #0fc3f5;
}

.input-form input[type="submit"] {
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #0fc3f5;
  transition: 0.3s;
}

.input-form input[type="submit"]:hover {
  background: #4442db;
  cursor: pointer;
}

.form a {
  display: block;
  padding: 0 0 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.form a:hover {
  color: #0fc3f5;
}

#log-out-btn {
  white-space: nowrap;
}


section {
  color: #fff;
  margin-top: 30px;
}

.edit {
  cursor: pointer;
}

.edit-enable:hover {
  color: green;
}

.edit-disable:hover {
  color: red;
}

.navbar {
  background: none;
}

.permission {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-size: 20px;
}

.switch-btn {
  display: inline-block;
  width: 72px; /* ширина */
  height: 38px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: linear-gradient(to right, #7f7f7f 0, #bfbfbf 40%, #7fd03e 60%, #118c4e 100%);
  background-size: 180px 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  height: 32px; /* высота кнопки */
  width: 32px; /* ширина кнопки */
  border-radius: 17px;
  background: #fff; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background-position-x: -100px;
}
.switch-on::after {
  left: 37px;
}

.switch-div {
  display: flex;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.switch-span {
  margin: auto;
}

.switch-btn {
  margin: auto;
}